body {
    background: url(img/more-leaves/more-leaves/more-leaves.png);
}
#profImage {
    height: 200px;
    width: 190px;
    transform: rotate(270deg);
    border-radius: 100px;
}

.con1 {
    border: brown 1px solid;
    border-radius: 15px;
    margin: 20px auto;
}

.row1 {
    margin: 10px 20px 0px;
}
.row0 {
    margin: 40px 20px 0px;
}

.col2 {
    background-color: rgba(205, 236, 234,0.7);
    border-radius: 15px;
}

.col1 {
    background-color: rgba(245, 245, 201,0.7);
    border-radius: 15px;
}
.con2 {
    border: 1px solid brown;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: 10px auto;
    background-color: rgba(240, 184, 184,0.7);
}

input[type="submit"] {
    width: 500px;
    padding: 7.5px;
    margin-bottom: 7.5px;
    border-radius: 2.5px;
    font-size: 15px;
    background: lightseagreen;
    border: 0;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: darkgray;
    color: white;
    box-shadow: none;
}
input[type="text"] {
    width: 490px;
    margin-bottom: 7.5px;
    border-radius: 2.5px;
    font-size: 15px;
}

input[type="email"], input[type="password"] {
    width: 232px;
    margin-bottom: 7.5px;
    border-radius: 2.5px;
}